body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(251, 63, 92, 1);
    max-height: 100px;
}



.logo a {
    text-decoration: none;
}

.logo a {
    font-family: 'Nova Mono';
    font-size: 36px;
    font-weight: 400;
    line-height: 50.17px;
    text-align: left;
    color: rgba(248, 238, 239, 1);
}


.header-container {
    max-width: 1220px;
    max-height: 50px;
    padding: 23px 97px 27px 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 52px;
}

.header-nav ul li a {
    text-decoration: none;
    
}

.header-nav ul li a {
    font-family: 'Nunito';
    font-size: 24px;
    font-weight: 400;
    line-height: 32.74px;
    text-align: left;
    color: rgba(248, 238, 239, 1);
}

.header-nav li:first-child a {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.74px;
    text-align: left;   
}

.header-nav ul li a:hover {
    color: grey;
    text-decoration: overline;
}


.bio {
    padding: 100px 111px 79px 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 283.29px;
}

.bio img {
    border-radius: 20px;
    height: 500px;
}

.bio-basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio-basic h5 {
    font-family: 'Nunito';
    font-size: 28px;
    font-weight: 400;
    line-height: 38.19px;
    text-align: left;
    width: 78px;
    height: 0px;
    color: rgba(0, 0, 0, 1);
}

.bio-basic h1 {
    width: 500px;
    height: 0px;
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: 700;
    line-height: 68.2px;
    text-align: left;
    margin-top: 0.1px;
}

.bio-basic h1 span {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: 700;
    line-height: 68.2px;
    color: rgba(251, 63, 92, 1);
}


.who-am-i {
    font-family: 'Nunito';
    font-size: 24px;
    font-weight: 400;
    line-height: 32.74px;
    letter-spacing: 0.06em;
    text-align: left;
    margin-top: 41px;

}

.button {
    text-decoration: none;
    background-color: rgba(251, 63, 92, 1);
    padding: 19px 51.12px;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 400;
    line-height: 27.28px;
    color: rgba(248, 238, 239, 1);
    border-radius: 20px;
    text-align: center;
    width: 49.1%;
}

.button-different {
    color: rgba(251, 63, 92, 1);
    background-color: white;
    border: 1px solid rgba(251, 63, 92, 1);
}

.button:hover {
    background-color: gold;
}

.button-different:hover {
    color: white;
}

.bio-container {
    background-image: url(images/Rectangle\ bg.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: right;
    margin-bottom: 230px;
}

.work {
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 227.21px;
}

.work img {
    border-radius: 20px;
}

.buttons {
    margin-bottom: 73px;
}

.progress {
    max-width: 214.93px;
    height: 30px;
}

.progress-bar {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(196, 196, 196, 1);
}


.progress-fill {
    position: absolute;
    height: 100%;
    background-color: rgba(251, 63, 92, 1);
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.progress-fill-seventy {
    width: 70%;
}

.progress-fill-fifty {
    width: 50%;
}

.progress-fill-eighty {
    width: 80%;
}

.progress-text {
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    color: rgba(255, 255, 255, 1);
}

.empty-space {
    width: 6.5px;
}

.work-description {
    margin-bottom: 64px;
}

.work-container {
    margin-bottom: 100px; 
}

.work-description > h1 {
    font-family: 'Nunito';
    font-size: 48px;
    font-weight: 700;
    line-height: 65.47px;
    text-align: left;
    margin-bottom: 16px;
}

.work-description > p {
    margin-bottom: 48px;
}

.skills {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 23px 23px;
    gap: 50px;
}

.skill {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    align-items: center;
}

.buttons {
    max-width: 623.31px;
    display: flex;
    justify-content: start;
    gap: 38.39px;
    padding-right: 110px;
}

.section-three {
    background-color: rgba(254, 197, 206, 1);
    height: 244px;
    margin-bottom: 143px;
}

.accomplishments h2 {
    font-family: 'Nunito';
    font-size: 48px;
    font-weight: 700;
    line-height: 65.47px;
    color: rgba(25, 16, 24, 1);
    width: 30px;
    height: 30px;
}

.accomplishments h3 {
    font-family: 'Nunito';
    font-size: 36px;
    font-weight: 700;
    line-height: 49.1px;
    color: rgba(25, 16, 24, 1);
}



.accomplishments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
}

.acc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.latest-work {
    padding: 0 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 74px;
}

.secondary-header {
    font-family: 'Nunito';
    font-size: 48px;
    font-weight: 700;
    line-height: 42px;
}

.work-heading {
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    height: 0;
    padding: 0;
    margin: 0;
}


.work-outline {
    font-family: 'Nunito';
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    height: 0;
    padding: 0;
    margin: 0;
}


.work-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.work-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.section-four {
    margin-bottom: 147px;

}

footer {
    background-color: rgba(251, 63, 92, 0.9);
    height: 232px;
}

.phone-number, .email {
    text-decoration: none;
    font-family: 'Nunito';
    font-size: 24px;
    font-weight: 500;
    line-height: 32.74px;
    color: rgba(248, 238, 239, 1);
}

.address p {
    font-family: 'Nunito';
    font-size: 24px;
    font-weight: 500;
    line-height: 32.74px;
    color: rgba(248, 238, 239, 1);
}


.footer-container {
    padding: 67.93px 194px 0px 199px;
}

.footer-container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 34.82px;
}


.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone, .mail, .address {
    display: flex;
    gap: 70px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.socials a:hover {
    transform: scale(1.1) rotate(-5deg)
}












